<div align="center">
    <h2><p> This is a Online Library Management System which maintains the information 
    about the books present in the library. This is very difficult to organize manually. 
    Maintenance of all this information manually is a very complex task. Owing to the advancement of technology, 
    organization of an Online Library becomes much simple. The Online Library Management has been designed to 
    computerize and automate the operations performed over the information 
    by doing CRUD(Create, Read, Update, Delete) operations to maintain 
    these records; You can insert the books , You can Delete the books, You can Update 
    the books i.e. it's available or not in library and you can also view the records. This 
    computerization of library helps in many instances of its maintenances .  It reduces the workload of management as most of the manual work done is reduced.</p></h2>
</div>
