<div align="center">
    <h2> Insert Book Details </h2>
    <br><br>
  <form #insertform="ngForm" (ngSubmit)="insertdata(insertform)">
    <div class="form-group">
    <label>  ID : </label>
    <input type="number" #id (ngModel)="id" name="id" id="id" class="form-class">
    </div> <br>
    <div class="form-group">
    <label>  Name : </label>
    <input type="text" #name (ngModel)="name" name="name" id="name" class="form-class">
    </div><br>
    <div class="form-group">
    <label>  Price : </label>
    <input type="number" #price (ngModel)="price" name="price" id="price" class="form-class">
    </div><br>
    <div class="form-group">
    <label>  Status : </label>
    <input type="text" #status (ngModel)="status" name="status" id="status" class="form-class">
    </div><br><br>
    <div class="form-group">
    <input type="submit" value="Add" class="btn btn-primary w-100">
    </div>
  </form>
</div>
